

header{
    position: fixed;
    display: flex;
    top: 0;
    left: 0%;
    background-color: #007193;
    padding: 40px;
    width: 100%;
}


footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 5em;
    margin-top: 2em;
    background-color: #007193;
}

#bluebg {
    background-repeat: no-repeat;
    background-position: left top, left top;
    background-size: 100%;
  }

#textbg {
    background: url('Images/tg.jpg');
    background-repeat: no-repeat;
    background-position: left top, left top;
    background-size: 100%;
  }


#seperator{
    background: url('Images/lightblue.jpg');
    background-repeat: no-repeat;
    background-position: left bottom, bottom top;
    background-size: 100%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
    position: relative;
    display: flex;
    
}